<div class="margens">
    <h4 class="titleHeader">Ranking das lojas com maiores vendas</h4>

    <div class="row" *ngIf="rankingStores.length; else loading">
        <div class="col s12 m6 l4" *ngFor="let rStore of rankingStores">
            <mat-card>
                <mat-card-header>
                    <img mat-card-avatar [src]="rStore.logo" [alt]=rStore.name
                        onError="this.src = 'assets/svg/loja-generica.svg'">

                    <mat-card-title>{{ rStore.name }}</mat-card-title>
                </mat-card-header>

                <img mat-card-image [src]="rStore.logo" [alt]="rStore.name"
                    onError="this.src = 'assets/svg/loja-generica.svg'">

                <div class="card-content">
                    <p>Total de Vendas: {{ rStore.totalSales | currency:'R$':'symbol':'0.2-2':'pt' }}</p>
                </div>
            </mat-card>
        </div>
    </div>

    <ng-template #loading>
        <img class="imgCentral" src="assets/svg/Spinner-1s-200px.svg" width="50%" />
    </ng-template>


</div>